@model IEnumerable<UltraPioner.Models.ViewModels.RecordModel>
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "Player Home Page";
}
<link rel="stylesheet" href="~/css/styleTable.css" asp-append-version="true" />
<script src="~/js/table.js" asp-append-version="true"></script>

<div class="height-100">
	<section class="table Record">
		<h1>Рекорды за всё время</h1>
		<div class="tbl-header-record">
			<table class="tbl-record" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Имя
						</th>
						<th>
							Норматив
						</th>
						<th>
							Результат
						</th>

					</tr>
				</thead>
				<tbody>
					
				</tbody>

			</table>
		</div>
	</section>

	

	</section>
</div>


