html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom right,#018ABE, #001B48 );
}


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 4rem;
    --nav-width: 250px;
    --first-color: #02457A;
    --first-color-light: #97CADB;
    --white-color: white;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*, ::before, ::after {
    box-sizing: border-box
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: .5s;
}


.header_img {
    display: flex;
    justify-content: center;
}

#header-images {
    width: 150px;
    margin-right: 130px;
}


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 10px 0 10px;
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

}

.icon {
    color: rgb(164, 201, 255);
    transition: .3s;
    font-size: 1.6rem;
}

.nav_name {
    color: rgb(164, 201, 255);
}

.nav_link {
    position: relative;
    margin-bottom: 1.5rem;
    transition: .3s;
    margin-left: 6px;
    color: rgb(164, 201, 255);
}

    .nav_link:hover {
        color: red
    }

.aligncenter {
    margin-top: 180px;
    text-align: center;
}




h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}




.tbl-users {
    width: 1200px;
    table-layout: fixed;
}



.tbl-header-users {
    background-color: rgba(255,255,255,0.3);
    height: 600px;
    overflow-x: auto;
}

    .tbl-header-users tr:hover td {
        background: #001B48; /* фон строки при наведении */
    }

th {
    padding: 30px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #001B48;
    text-transform: uppercase;
    border: solid 2px white;
    background-color: rgba(255,255,255,0.6);
}

td {
    padding: 15px;
    text-align: left;
    margin-left: 8px vertical-align: middle;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    border: solid 2px white;
}


.Users {
    width: 1200px;
    margin-top: -465px;
    margin-left: -65px;
    border-radius: 6px
}

    .Users tbody tr:nth-child(even) {
        background: rgba(255,255,255,0.2);
    }
/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}



.col-form-label {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.col-sm-10 {
    width: 34%;
}

.btn-primary {
    margin-left: 700px;
    padding: 10px;
    background-color: #001B48;
    border-color: #001B48;
}

    .btn-primary:hover {
        background-color: midnightblue;
        border-color: #001B48;
    }


.col-sm-2 {
    margin-left: 30px;