h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.Users {
    
    margin-top: 90px;
    margin-left: -50px;
    border-radius: 6px;
}

    .Users tbody tr:nth-child(even) {
        background: rgba(255,255,255,0.2);
    }
.tbl-users {
    
    table-layout: fixed;
}
.tbl-header-users{
    background-color: rgba(255,255,255,0.3);
    height: 500px;
    overflow-x: auto;
}

    .tbl-header-users tr:hover td {
        background: #001B48; /* фон строки при наведении */
    }



.tbl-statistic {
    padding-top: 30px;
    width: 800px;
    table-layout: fixed;
}

.tbl-record {
    width: 800px;
    table-layout: fixed;
}

.tbl-myResult {
    width: 500px;
    table-layout: fixed;
}


.tbl-header-statistic {
    background-color: rgba(255,255,255,0.3);
    height: 500px;
    overflow-x: auto;
    padding-top:30px;
}

    .tbl-header-statistic tr:hover td {
        background: #001B48; /* фон строки при наведении */
    }

.tbl-header-record {
    background-color: rgba(255,255,255,0.3);
    height: 400px;
    overflow-x: auto;
}
    .tbl-header-record tr:hover td {
            background: #001B48; /* фон строки при наведении */
        }

.tbl-header-myResult {
    background-color: rgba(255,255,255,0.3);
    height: 600px;
    overflow-x: auto;
}

    .tbl-header-myResult tr:hover td {
        background: #001B48; /* фон строки при наведении */
    }

.tbl-content {
    height: 600px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th {
    padding: 30px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #001B48;
    text-transform: uppercase;
    border: solid 2px white;
    background-color: rgba(255,255,255,0.6);
}

td {
    padding: 15px;
    text-align: left;
    margin-left: 8px vertical-align: middle;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    border: solid 2px white;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/*body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}*/


.Statistic {
    padding-top: 30px;
    width: 800px;
    margin-top: 90px;
    margin-left: 250px;
    border-radius: 6px;
}

    .Statistic tbody tr:nth-child(even) {
        background: rgba(255,255,255,0.2);
    }


.Record {
    width: 800px;
    margin-top: 80px;
    margin-left: 550px;
    border-radius: 6px;

}

    .Record tbody tr:nth-child(even) {
        background: rgba(255,255,255,0.2);
    }

.myResult {
    width: 500px;
    margin-top: -465px;
    margin-left: -65px;
    border-radius: 6px
}

    .myResult tbody tr:nth-child(even) {
        background: rgba(255,255,255,0.2);
    }
/* Стили для скролла */
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



.col-form-label {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.col-sm-10{
    width: 34%;

}

.btn-primary{
    margin-left:700px;
    padding:10px;
    background-color: #001B48;
    border-color: #001B48;
}

    .btn-primary:hover {
        background-color: midnightblue;
        border-color: #001B48;
    }


.col-sm-2 {
    margin-left: 30px;