<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UltraPioner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UltraPioner.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header" id="header">
        <div class="header_toggle">
            <a asp-action="Logout" asp-controller="Account" class="nav_link">
                <i class='bx bx-log-out icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </div>
        @* <div class="header_img"> <img src="~/UP.png" alt="" id="header-images"> </div> *@
       
    </header>


    <p class="aligncenter">
        <img src="~/phoneSib.png" alt="фоновое изображение" />
    </p>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/player.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
