@model IEnumerable<UltraPioner.Models.ViewModels.RecordModel>
@{
	Layout = "_LayoutPlayer";
	ViewData["Title"] = "My filter standart";
}
<link rel="stylesheet" href="~/css/styleTable.css" asp-append-version="true" />
<script src="~/js/table.js" asp-append-version="true"></script>

<div class="height-100">
	<section class="table Statistic">
		<h2>Standart Filter</h2>

		@using (Html.BeginForm("Standart", "Player", FormMethod.Get))
		{
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Норматив:</label>
				<div class="col-sm-10">
					@Html.DropDownList("StandartName", (IEnumerable<SelectListItem>)ViewData["StandartList"], "Все", new { @class = "form-control" })
					<input type="submit" value="Применить" class="btn btn-primary ml-2" />
				</div>
			</div>
		}

		<div class="tbl-header-statistic">
			<table class="tbl-statistic" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Имя игрока
						</th>
						<th>
							Норматив
						</th>
						<th>
							Результат
						</th>
			
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StandartName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StandartResult)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</section>

</div>
